.list {
    color: red;
    list-style: none;
    font-weight: bold;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 100px;
    display: inline-block;
    text-align: center;
    font-size: large;
}
